*{
  background-color: #52D3D8;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 5px auto; /* Add "auto" to center the grid horizontally */
  justify-content: center; /* Add this to center the grid vertically */
  border: 1px solid black;
  width: 400px;
  height: 300px;
}

